<ion-header>
  <ion-toolbar>
    <ion-title>
      Thermometer {{temp}} &#8451;
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <canvas #thermometer></canvas>
  </div>
</ion-content>
